body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color:white;
    font-style: bold;
    font-weight: 900;
    text-align: center;
    font-size: 1.2rem;
    
}
.head{
    position: absolute;
    z-index: 2;
    top:10px;
}
.home, .guest{
    position: relative;
    z-index: 1;
}
p{
    font-weight: 400;
    font-size :20px;;
    font-style:none;
}
.container {
    background:rgb(25, 25, 51);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height:80vh;    
    width:90%;
    margin-top:60px;
    border-radius: 25px;
    
}
.head{
    margin-top:50px;
}
.score{
    margin:auto;
    justify-content: center;
    display: flex;
    align-items: center;
    width:150px;
    height:140px;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: black;
    color:rgb(248, 26, 26);
    font-weight: bold;
    font-size: 3.8rem;
    font-family: 'Courier New', Courier, monospace;
}
button{
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    width: 40px;
    margin-bottom: 5px;
    font-weight: 100;
    font-size:13px;
}
#incr-h, #incr-g{
    background: transparent;
}
