@font-face {
    font-family: digital ;
    src: url(./fonts/Technology-Bold.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-style: bold;
    font-weight: 900;
    text-align: center;
    font-size: 1.2rem;
    background-color: whitesmoke;
    
}
.head{
    position: absolute;
    z-index: 2;
    top:10px;
}
.home, .guest{
    position: relative;
    z-index: 1;
}
p{
    font-weight: 400;
    font-size :20px;;
    font-style:none;
}
.container {
    background:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height:80vh;    
    width:90%;
    margin-top:60px;
    border-radius: 25px;
    border:2px solid 
}
.head{
    margin-top:50px;
}

.score{
    margin:auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height:140px;
    border: 2px solid white;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: black;
    color:rgb(241, 40, 5);
    font-weight: bold;
    font-size: 3.8rem;
    font-family: "digital";
}
button{
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    width: 40px;
    margin-bottom: 5px;
    font-weight: 100;
    font-size:13px;
}
#incr-h, #incr-g{
    background: transparent;
}
